body{
	font-family:'Lato'!important;
	
}
body p{
	text-align:center;
}


.container-fluid{
	padding:0px!important;
}



.cont{
		background:#effaff;
		padding:20px 0px;
	}
	
	.r1{
		padding:20px 0 20px 0;
		text-align:center;
		color:black;
	}
	
	.img{
		padding:0 80px 0 80px;
		width:100%;
		height:400px;
	}
	
	.info{
		padding-top:20px;
		padding-bottom:30px;
		padding-left:80px !important;
		color:black;
		
	}
	#txt{
		color:#6c95a5;
	}
	
	input{
		padding:20px 30px;
		background:white;
		color:#6c95a5!important;
		
		width:100%;
		
	}
	
	textarea{
		padding:20px 30px;
		background:white!important;
		color:#6c95a5!important;
		border:none !important;
		width:100%;
		margin-top:30px !important;
	}
	 
	.ocbtn{
		margin:0 auto;
	}
	
	.sub{
		margin-top:30px;
		font-size: 24px;
		line-height: 30px;
	    color: #fff!important;
		background: #1aaa8f!important;
		padding: 20px !important;
	}
	
	input::placeholder, textarea::placeholder{
		color:#6c95a5;
	}
	.fom{
		float:left;
		padding:20px 80px 0 20px;
		
	}
	.ftxt{
		color:#6c95a5!important;
	}
	