.login-text{
	background-image:url('../images/login_background.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	}
.login-body
{
    width: 500px;
    height: auto;
    text-align: center;
    background-color: rgba(5,7,9,0.9);
    border: 10px solid gray;
    border-style: double;
    border-radius: 4px;
    margin:150px auto;
    
}

.login-body img{
    width: 120px;
    height: 120px;
    margin-top: -80px;
    margin-bottom: 40px;
    }
    
    input[type="email"],input[type="password"]{
        height: 45px;
        width: 300px;
        font-size:18px;
        margin-bottom: 20px;
        background-color: #fff;
        padding-left: 20px;
    }    
    
    form-input:before{
        background: url(../images/man2.jpg);
        content :"\f007";
        position:absolute;
        font-family:"FontAwesome";
        font-size:30px;
        color: #985986;
        padding-top: 5px;
        font-size:35px;
    }
    
.man img{
border-radius:50px;
border-style: solid;
}
    .btn-login{
        padding: 15px 25px;
        color:#fff;
        background-color: #2ECC71;
        border: none;
        border-radius: 4px;
        border-bottom: 4px solid #27AE60;
    }
  .forgot-text    a{
        text-decoration:none;
        color:white!important;
        font-family:sans-serif;
        
    }
    
   .forgot-text   a:hover{
        color:coral!important;
        font-weight: bold;
            
    }
  .forgot-text{
        margin:20px 0px;
        
    }
    .error{
		color:red;
	
	}
