body{
	font-family:'Lato'!important;
	
}
body p{
	text-align:center;
}


.container-fluid{
	width:100%!important;
	padding:0px!important;
}

/*.registration{
	background:url(../images/register_back.jpg);
	background-size:cover;
}*/

.about-us {
	text-align:center;
	padding:50px;
}
.about-us .heading{
	color:red;
	font-size:33px;
}


.about-us .text{
	color:black;
	font-size:20px;
	padding-top:20px;
}


.form_head{

    font-size: 23px;
    color: black;
    font-style: bold;
    font-weight: 500;
}
.location td,.location th,.vehicle td,.vehicle th{
	border:1px solid black;
}	
table{
			margin-bottom:70px;
}
tr,td,th {
				text-align:center!important;
				width:400px!important;
				padding:20px 20px;
		}


.index{
		width:100px!important;
		font-size:23px;
}

input[type=text],input[type=email],select,input[type=password],input[type=date],input[type=number] {
				width: 90%;
				font-size:18px;
				padding: 12px 20px;
				margin: 8px 0;
				
				box-sizing: border-box;
				border: 0;
				outline: 0;
				background: transparent;
				border-bottom: 1px solid black;
			}
			
	
		input[type=submit],input[type=button],button{
			padding:10px;	
			background:#5abd56;
			border:1px solid;
			font-size:23px;
			
		}
		button span{
			font-size:20px;

		}		


.route-head	p{
			text-align:center;
			font-size:27px;
			color:#b91560;
			font-weight:600;
		
		}
		.route-head{
			margin-top:50px!important;
			margin:20px 0px;
		}